@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #fff;
}

h2{
    text-align: center;
    margin: 30px 0;
    font-size: 4rem;
}



.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}


.time{
    text-align: center;
    font-size: 10rem;
    color: #f5f5f5;
    text-shadow: 20px 15px 10px #000;
}

.time-container{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.04 );
    width: 20%;
    padding: 10px;
    margin: 15px 0;
}

.bright{
    filter: brightness(60%);
}

.month,.today,.days-of-week{
    font-size: 5rem;
    margin: 10px 0 0 0;
}

.to-do{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do input{
    width: 50%;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    border: none;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 10px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.09 );
}

.to-do-list{
    color: #fff;
    font-size: 5rem;
    text-align: start;
    padding: 0 20px;
    margin: 20px auto;
    width: 80%;
}

.input-container{
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: center;
}

.input-container input{
    width: 75%;
}

.input-container .sbm{
    width: 15%;
    font-weight: 800;
    transition: 0.3s all;
}

.input-container .sbm:active{
    transform: rotateZ(180deg);
}


ul li{
    margin: 10px;
    border: none;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 10px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.09 );
    padding: 10px;
    font-size: 3.6rem;
}